html, p, .row {
  margin: 0%;
  padding: 0%;
}

body {
  margin: 5% 10%;
  background-color: black;
}

.poke-card {
  text-align: center;
}

.poke-card img { 
  width: 150px;
  height: 150px;
}

.poke-card p {
  font-weight: bold;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 10px;
  text-align: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.title {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
}

.search-container {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
}

.search-container input {
  padding: 10px;
  width: 300px;
}

.search-container button {
  padding: 10px;
}

#result-container {
  margin-top: 20px;
}

span {
  font-family: fantasy;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  padding-right: 15px;
  padding-left: 15px;
}

.poke-card {
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}

.poke-card img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.poke-card p {
  text-align: center;
  color: white;
}

.poke-card p strong {
  color: white;
}

.poke-card .poke-tipo {
  text-align: center;
  color: white;
}

.poke-tipo {
  color: blue;
}

.obs {

  color: white;
  text-align: center;
}
